{
  "parser": "babel-eslint",
  "extends": "@ensemblebr/eslint-config",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "emotion",
    "react-hooks"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "legacyDecorators": true
    }
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.prod.babel.js"
      }
    }
  }
}
