
#container{
  padding: 30px 0;
  display: none;
}

input, .button.player_button {
  height: 40px;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  width: 100%;
}

.player_data {
  position: relative;
}

.player_remote {
  display: none;
  position: absolute;
  color: red;
  top: 15px;
  font-size: 20px;
  right: 10px;
}

#players_controls {
  margin: 10px 0;
}

#timer_container {
  margin: 40px 0 20px 0;
}

#room_container {
  margin-top: 30px;
}

#room_controls {
  margin: 0;
}

#room_create {
  margin: 0;
  display: none;
}

#room_id {
  letter-spacing: 2px;
  font-weight: 700;
}

#room_join {
  margin: 0;
  display: none;
}

#room_info {
  margin: 0;
  display: none;
}

#room_locations {
  margin: 0;
  display: none;
}

#room_game {
  margin: 0;
  display: none;
}

#room_instructions {
  font-size: 12px
}

#game_controls {
  margin-top: 10px;
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  color: #aaaaaa;
}


