
html,body {
  margin: 0;
  padding: 0;
}

#wrapper {
  overflow-x: hidden;
}

#header {
  padding-top: 40px;
  padding-bottom: 20px;
}

#languages {
  margin: 0;
}

#container{
  display: none;
}

.player_input, .button.player_button {
  height: 40px;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  width: 100%;
}

#locations_modal {
  padding-left: 2px;
  padding-right: 2px;
}

.location_item {
  border-bottom: 1px solid #f0f0f0;
}

.location_item:last-child {
  border-bottom: none;
}

.player_data {
  position: relative;
}

.player_remote {
  display: none;
  position: absolute;
  color: red;
  top: 15px;
  font-size: 20px;
  right: 10px;
}

#game_locations {
  display: none;
}

#players_controls {
  margin: 10px 0;
}

.spy_count{
  margin-right: 10px;
}

#timer_container {
  margin: 40px 0 20px 0;
}

#timer_control{
  margin: 0;
}

#room_controls {
  margin: 40px 0 0 0;
}

#room_create {
  margin: 40px 0 0 0;
  /*display: none;*/
}

#room_id {
  letter-spacing: 2px;
  font-weight: 700;
  font-family: 'Inconsolata', Consolas, monaco, monospace;
}

#room_join {
  margin: 0;
}

#room_info {
  margin: 0;
}

#room_join_button {
  margin: 0;
}

#room_locations {
  margin: 0;
  display: none;
}

#room_game {
  margin: 0;
  display: none;
}

#room_instructions {
  font-size: 12px
}

#room_join_id, #room_join_name {
  height: 40px;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  width: 100%;
}

#game_controls {
  margin-top: 10px;
}

#game_options{
  margin: 5px 0 0 0;
}

#two_spies{
  margin: 0 5px 0 5px;
}

#selected_duration{
  margin: 0;
}

.footer {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 12px;
  color: #aaaaaa;
}

.uppercase {
  text-transform: uppercase;
}

.no-right-padding {
  padding-right: 0;
}

#locations_filter {
  width: 100%;
  margin: 10px 0;
}

.location_title{
  margin-top: 20px;
}

.location_config_item {
  border-bottom: 1px solid #f0f0f0;
  padding: 5px 0;
  box-sizing: border-box;
}

.location_config_check {
  left: 0;
}

.location_config_role, .location_config_title, .location_config_name {
  text-align: right;
  margin: 5px;
}

.location_config_role_label, .location_config_name_label {
  padding-right: 3%;
  display: inline-block;
}

.location_config_role_input, .location_config_name_input {
  width: 60%;
  margin-right: 5%;
}

.location_config_role_input:disabled, .location_config_name_input:disabled {
  color: #777777;
}

.location_config_item.custom .location_config_title {
  color: #008CBA;
}

input[type="checkbox"].location_config_check{
  margin-bottom: 0;
}

.location_config_setup {
  display: none;
  text-align: center;
  margin: 10px 0;
}

.location_config_save {
  margin: 0 10px;
}

.location_config_delete {
  margin: 0 10px;
  color: #f04124;
}

.location_config_delete:hover {
  color: #cf2a0e;
}

#locations_controls {
  margin: 30px 0;
}

#locations_exported_help {
  font-size: 12px;
}

#locations_exported_id {
  letter-spacing: 2px;
  font-weight: 700;
  font-family: 'Inconsolata', Consolas, monaco, monospace;
}

#locations_import_button{
  margin: 0;
}

#locations_import_id {
  height: 40px;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  width: 100%;
}

#locations_back {
  margin-top: 20px;
}

.cross{
  text-decoration: line-through;
}

.check_all{
  margin: 0 1px 0 1px;
}

.location_select{
  cursor: pointer;
  border: 1px solid #f0f0f0;
  padding: 3px 5px 5px 5px;
}

.location_select input{
  cursor: pointer !important;
  pointer-events: none;
}

.button.secondary.hollow.disabled{
  opacity: 0.7 !important;
}

#upload_error{
  color: #cf2a0e;
  display: none;
}

#upload_input{
  display: none;
}
